<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Amadon</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <h1>Amadon Store!</h1>
    <table id="products">
        <thead>
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Actions</th>
            </tr>
        </thead>
            {% for product in products %}
            <tr>
                <form action="process/{{product.id}}" method="post">
                    {% csrf_token %}
                    <td>{{product.description}}</td>
                    <td id="price" name="price">{{product.price}}</td>
                    <td><select name="quantity">
                        {% for value in quantity %}
                        <option value="{{value}}">{{value}}</option> 
                        {% endfor %}                           
                        </select></td>
                    <td><input type="submit" value="Buy!"></td>
                </form>
            </tr>
            {% endfor %}
    </table>
</body>
</html>